.allProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 570px);


}

.product{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;
    height: 450px;
}
img{
    width: 100%;
    height: 70%;
}

.inside{
   width: 100%;
   height:30%;
}

.logo{
    width: 90%;
    margin: auto;
    height: 30px;
    border-top: 1px solid grey;
    display: flex;
    justify-content:space-around;
    
}

.inside:hover{
    background-color: rgba(218, 215, 180, 0.966);
}

        .nav{
            width: 100%;
            height: 60px;
            background-color: #2874f0;
            margin: auto;
            display: flex;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .left{
            width: 20%;
            height: 100%;
            font-size:25px;
            color:yellow;
            margin-top: 2%;
            margin-left: 5%;
            
        }
        .left>a{
            color: yellow;
        }

        .left>a:hover{
            color: yellow;
        }
        .right{
            width: 40%;
            height: 100%;
            color:white;
            display: flex;
            justify-content:space-evenly;
            /* padding:2%; */
            margin-top: 2%;
            font-size: 20px;
        }
        #search{
            width: 450px;

            height: 40px;
        }
        button{
           background-color: white;
            height: 45px;
            border: 1px solid grey;
            cursor: pointer;
     }
        
    